*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    font-family:Montserrat, sans-serif;
    scroll-behavior: smooth;
}
html,body{
    height:100%;
}
img{
    width: 0;
    height: 0;
    vertical-align: middle;
}
.vidpopupovl{
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index:5;
    display:none;
}
.videodivresp{
    display: none;
}
.vidpopup{
    position:fixed;
    width: 100%;
    height: auto;
    text-align: center;
    top:20%;
    text-align: center;
    z-index:5;
}
.vidpopup iframe{
    text-align: center;
    margin:auto;
}
.botaofechar{
    position: relative;
    width: 640px;
    height: 10px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    z-index: 6;
}
.botaofechar a{
    float:right;
}
.botaofechar img{
    width: 50px;
    height: 50px;
}

.mySlides {display: none;}

.slideshow{
    position: relative;
    height: auto;
    width: 1500px;
    margin-top:75px;
    margin-left:5%;
    overflow:hidden;
}
.slideshow-container {
    max-width: 1000px;
    width:100%;
    position: relative;
    margin:auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.fundo{
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    max-height: 2000px;
    float: left;

    
}
.sec2{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-bottom: 50px;
    min-height: 600px;
    background-image:url("../imagens/Dream5-7.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec4{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-bottom: 50px;
    min-height: 600px;
    background-image:url("../imagens/Dream 5-5.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
}
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10;
  }
  .titulosec3{
    background-color:rgb(219, 216, 216);
    text-align: center;
    padding-top:25px;
  }
.sec3{
    margin:auto;
    background-color:rgb(219, 216, 216);
    width:100%;
    padding-top:50px;
    padding-bottom: 50px;
    height:auto;
    overflow: hidden;
}
.titulo{
    margin:7%;
    font-weight: bold;
}
.titulo h1{
    font-size:80px;
    font-weight:800;
}
.texto{
    margin:7%;
    width: 40%;
}
.texto span{
    font-size: 28px;
    font-weight: 400;
}
.TitulSec2{
    position:absolute;
    width:100%;
    margin-top:1%;
    text-align:center;
    color:white
}
.imagem{
    width: 50%;
    height: 70%;
    float:right;
    margin-top:7em;
    margin-right: 6%;
    background-image: url("../imagens/fundoimg.svg");
    background-size: 65%;
    background-position: 150px 0;
    background-repeat: no-repeat;
    
}
.imagem img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top:15%;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.video{
    position: relative;
    cursor:pointer;
    margin-left: 55%;
    margin-top:28%;
    width: 17%;
    height: 200px;
    transition: transform .2s;
    background-size: 100%;
    background-image: url("../imagens/botaoplay.svg");
    background-repeat: no-repeat;
}
.video:hover{
    transform: scale(1.5,1.5); 
}
.videodiv{
    width:100%;
    height:auto;
    min-width: 100px;
    overflow:hidden;
    margin-top:1%;
    clear: both;
}
.botaolink{
    position: relative;
    text-align: center;
    margin:auto;
    top:23%;
    width: 75px;
    height: 75px;
    transition: transform .2s;
}
.botaolink:hover{
    transform: scale(1.5,1.5); 
}
.botao{
    position: relative;
    width: 75px;
    height: 75px;
    transition: transform .2s;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='151' height='143' viewBox='0 0 151 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='75.5' cy='74' rx='63.5' ry='64' fill='url(%23paint0_linear)'/%3E%3Cpath d='M75.5 26V121.333' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M113.25 85.5833L75.5 121.333L37.75 85.5833' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='75.5' y1='10' x2='75.5' y2='138' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300D1FF'/%3E%3Cstop offset='1' stop-color='%2300FFA3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}
.caixasinformacao{
    position: relative;
    display: grid;
    width: 80%;
    text-align: center;
    margin:auto;
    margin-top:125px;
    gap:25px;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    color:white;
    z-index: 11;
}
.caixa{
    height: 350px;
    max-width: 350px;
    background-color: white;
    border-radius: 15px;
}
.iconcaixa{
    margin-top:25px;
    width: auto;
    height: 75px;
    text-align: center;
}
.iconcaixa img{
    width: auto;
    height: 100%;
}
.titulocaixa{
    height: 60px;
    width: 80%;
    text-align: center;
    margin:auto;
    margin-top:25px;
    border-bottom: 2px solid green;
}
.titulocaixa span{
    color:green;
    font-size: 20px;
    font-weight: 800;
}
.textocaixa{
    height: 80%;
    width: 80%;
    text-align: center;
    margin:auto;
    margin-top:25px;
}
.textocaixa span{
    color:grey;
    font-size: 14px;
}
.flipboxes{
    position: relative;
    width:100%;
    text-align: center;
    display: grid;
    margin:auto;
    margin-top:100px;
    gap:25px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.botao:hover{
    transform: scale(1.5,1.5); 
}
.botao a{
    width: 100%;
    height: 100%;
}
.flip-box {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
    background-color: transparent;
    width: 40%;
    height: 18%;
    min-height: 250px;
    min-width: 270px;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front1,.flip-box-front2,.flip-box-front3,.flip-box-front4, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .textfront{
    text-align: center;
    vertical-align: middle;
    margin:auto;
    margin-top:25%;
  }
  .bg{
    background-color: #00000099;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:52px;
  }
  .bg2{
    background-color: #00000099;
    position: absolute;
    height: 60%;
    width: 100%;
  }
  .flip-box-front1 {
    background-image:url("../imagens/imagem5.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius:52px;
  }
  .flip-box-front2 {
    background-image:url("../imagens/imagem2.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius:52px;
  }
  .flip-box-front3 {
    background-image:url("../imagens/imagem3.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius:52px;
  }
  .flip-box-front4 {
    background-image:url("../imagens/imagem1.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius:52px;
  }
  .flip-box-back {
    background-color:#ebebeb;
    color: grey;
    transform: rotateY(180deg);
    border-radius:52px;
  }
  .flip-box-back h2{
    width: 80%;
    text-align: center;
    margin:auto;
    margin-top:2.5%; 
    margin-bottom: 5%;
    color:black;   
  }
  .flip-box-back span{
    width:auto;
    text-align: justify;
    text-justify:auto;
  }

  @media only screen and (max-width:1650px){
    .botaolink{
        top:15em;
    }
    .videodiv{
        width:90%;
        height:auto;
        min-width: 100px;
        overflow:hidden;
    }
    .slideshow{
        margin-left: 10px;
    }

  }
  @media only screen and (max-width:1453px){
            .videodiv{
                margin-top:5%;
            }
            .video{
                margin-top:35%;
            }
            .video:hover{
                transform: scale(1.2,1.2); 
            }
  }
  @media only screen and (max-width:950px){
  .videodiv{
      display: none;
  }
  
  .videoresp{
    position: relative;
    cursor:pointer;
    text-align: center;
    margin:auto;
    margin-top:25px;
    width: 200px;
    height: 100%;
    transition: transform .2s;
    background-size: 100%;
    background-image: url("../imagens/botaoplay.svg");
    background-repeat: no-repeat;
  }
  .videodivresp{
      display: block;
    position: relative;
    text-align: center;
    width:100%;
    height:auto;
    padding-bottom: 25px;
  }
  .slideshow{
      position: relative;
      display: block;
      margin-top:0px;
      min-width: 100%;
      margin-left: 10px;
      height: 80%;
  }

  }
@media only screen and (min-width:860px) and (max-width:1335px){
    .imagem{
        margin-top:150px;
        margin-right: 0%;
        width: 500px;
        height: 500px;
    }
    .fundo{
        height:700px;
    }
    .texto{
        margin-left: 2%;
    }
    .botao{
        display: none;
    }
}
@media only screen and (max-width:860px){
    
    .imagem{
        display:none
    }
    .fundo{
        position:relative;
        top:0;
        width: 100%;
        height: 1000px;
    }
    .texto{
        width: 80%;
    }
    .imagemresp{
        background-image: url("../imagens/fundoimg.svg");
        background-size: 65%;
        background-position: 35% 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .imagemresp img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 54%;
        margin-top:15%;
    }
    .botao{
        display: none;
    }
}

@media only screen and (max-width:860px){
    .flip-box {
        position: relative;
        text-align: center;
        margin: auto;
        display: block;
        background-color: transparent;
        width: auto;
        height: 250px;
        min-width: 80%;
      }
}
